@import url("../../.cache/wal/colors-waybar.css");
* {
  /* with font-family set, japanese characters don't display */
  /* font-family: Ubuntu Nerd Font; */
  font-size: 11pt;
}

label.module {
  padding: 0 3px;
  border-radius: 8px;
  color: @background;
}

window#waybar {
  background: @background;
  opacity: 0.8;
  color: @foreground;
  border-bottom: 2px solid @background;
}

#workspaces button {
  border-radius: 8px;
  background-color: @background;
  color: @foreground;
  /* margin-right: 2px; */
  padding: 0 3px;
}

#workspaces button.active, #workspaces button.focused {
  background-color: @foreground;
  color: @background;
}

#workspaces button.urgent {
  background-color: @color0;
  color: @foreground;
}

#taskbar button {
  border-radius: 100px;
  background-color: @background;
  padding: 0 5px;
}

#taskbar button.active {
  background-color: @color1;
}

#clock {
  background: @background;
  color: @foreground;
}

#battery {
  background-color: @color1;
}

#pulseaudio {
  background-color: @color2;
}

#pulseaudio.muted {
  background-color: @background;
  color: @color2;
}

#backlight {
  background-color: @color3;
}

#bluetooth {
  background-color: @color4;
}

#bluetooth.disabled, #bluetooth.off {
  background-color: @background;
  color: @color4;
}

#network {
  background-color: @color5;
}

#custom-gammastep {
  background-color: @color6;
}
