@import url("/home/oliwier/.cache/wal/colors-waybar.css");
* {
    border: none;
    border-radius: 8px;
    font-family: Ubuntu Nerd Font;
    font-size: 11pt;
    min-height: 0;
}
window#waybar {
    opacity: 1.0;
    background: @background;
/*    background: transparent; */
    color: @foreground;
    border-bottom: 2px solid @background;
}

#workspaces button {
    padding: 0 3px;
    background-color: @background;
    color: @foreground;
    /* border: 2px solid #3a3b3c; */
    margin-right: 2px;
    border-radius: 8px;
}

#workspaces button.active {
    background-color: @foreground;
    color: @background;
}

#workspaces button.urgent {
    background-color: @color0;
    color: @foreground;
}

#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}

#clock {
    padding: 0 4px;
    background: @background;
}

#battery {
    background-color: @color1;
    color: @background;
}

#pulseaudio {
    background-color: @color2;
    color: @background;
}

#pulseaudio.muted {
    background-color: @background;
    color: @color2;
}

#backlight {
    background-color: @color3;
    color: @background;
}

#bluetooth {
    background-color: @color4;
    color: @background;
}

#bluetooth.disabled {
    background-color: @background;
    color: @color4;
}

#bluetooth.off {
    background-color: @background;
    color: @color4;
}

#network {
    background-color: @color5;
    color: @background;
}

#custom-gammastep {
    background-color: @color6;
    color: @background;
}
