configuration {
  drun-display-format: "{name}";
  location: 6;
//  font: "JetBrainsMono NF Font Regular 12";
}

/* Keybindings */
@import "keybindings.rasi"

/* Pywal theme. */
@theme "~/.cache/wal/colors-rofi-custom.rasi"

/* If you want to import default pywal theme then
@import "~/.cache/wal/colors-rofi-dark.rasi"
*/
