configuration{
    modi: "window,drun,run,";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 6;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: "   Window";
    display-ssh: " 󰤨  ssh";
    sidebar-mode: true;
    font: "CodeNewRoman Nerd Font Regular 12";
}

/* Dark theme. */
@import "~/.cache/wal/colors-rofi-dark"
