configuration {
  location: 6;
  // font: "JetBrainsMono NF Font Regular 12";
  sorting-method: "fzf";
  matching: "fuzzy";
  sort: true;
}

/* Keybindings */
@import "keybindings.rasi"

/* Pywal theme. */
@theme "~/.cache/wal/colors-rofi-custom.rasi"
