/* Dracula colors */
:root {
  --background: #282a36;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

/* qutebrowser theme */
* {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

a {
  color: var(--purple) !important;
}

input:focus {
  border-color: var(--purple) !important;
  box-shadow: 0 0 0 2px var(--purple) !important;
}

button:focus {
  border-color: var(--purple) !important;
  box-shadow: 0 0 0 2px var(--purple) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}

/* Dracula-specific colors */
.comment, .string, .symbol, .variable, .keyword, .number, .builtin, .inserted {
  color: var(--pink) !important;
}

.operator, .punctuation {
  color: var(--foreground) !important;
}

.function, .class-name {
  color: var(--cyan) !important;
}

.constant, .attr-value {
  color: var(--yellow) !important;
}

.boolean {
  color: var(--green) !important;
}

.warning, .regex, .annotation {
  color: var(--orange) !important;
}

.error {
  color: var(--red) !important;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
