startup_commands                       toggle_custom_color
ruler_mode                             1

create_table_of_contents_if_not_exists 1
max_created_toc_size                   5000


ui_font                                JetBrainsMono Nerd Font Mono

font_size                              12
status_bar_font_size                   16

#default_dark_mode      1

source ~/.cache/wal/colors-sioyek.config