configuration{
    modi: "window,drun,run,ssh,";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window";
    display-ssh: " 󰤨  ssh";
    sidebar-mode: true;
}

@theme "/home/oliwier/.local/share/rofi/themes/drac-list.rasi"
