/* Mpris widget */
/* .widget-mpris { */
/*   The parent to all players */
/*   color: @foreground; */
/* } */

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  /* color: @foreground; */
  box-shadow: none;
  /* padding-bottom: 0; */
  /* margin-bottom: 0; */
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
  /* color: @foreground; */
}

.widget-mpris-subtitle {
  font-size: 1em;
  /* color: @foreground; */
}

/* .widget-mpris-album-art { */
/*   background-blend-mode: saturation; */
/* } */

.widget-mpris .widget-mpris-player > box > button {
  /* Change player control buttons */
  border-radius: 5px;
}

/* Inhibitors widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  font-size: initial;
  color: @foreground;
  text-shadow: none;
  background: @background;
  border: 1px solid @color6;
  box-shadow: none;
  border-radius: 12px;
}

/* .widget-inhibitors > button:hover { */
/*   background: @noti-bg-hover; */
/* } */
