@import url('../../../../.cache/wal/colors.css');

body {
  /* font-family: Ubuntu Nerd Font, sans-serif; */
  background-color: var(--background);
  text-align: center;
  align-items: center;
}

h1 {
  margin: auto;
  font-size: 10em;
  color: var(--color12);
  transform: translateX(0%) translateY(130%);
}
