# === PYWAL THEME === #
startup_commands    	toggle_custom_color

background_color            {background}
dark_mode_background_color  {background}

text_highlight_color        {color3}
visual_mark_color       {background.red} {background.green} {background.blue} 0.5

search_highlight_color      {color3}
link_highlight_color        {color4}
synctex_highlight_color     {color2}

highlight_color_a       {color4}
highlight_color_b       {color2}
highlight_color_c       {color6}
highlight_color_d       {color5}
highlight_color_e       {color7}
highlight_color_f       {color1}
highlight_color_g       {color3}

custom_background_color     {background}
custom_text_color           {foreground}

ui_text_color               {foreground}
ui_background_color         {background}
ui_selected_text_color      {foreground}
ui_selected_background_color    {color6}
