# === PYWAL THEME === #
# startup_commands        toggle_custom_color

background_color        {color0}
dark_mode_background_color {color0}
#dark_mode_contrast      0.8

text_highlight_color    {color1}
visual_mark_color       {color0.red} {color0.green} {color0.blue} 0.8

search_highlight_color  {color1}
link_highlight_color    {color2}
synctex_highlight_color {color3}

highlight_color_a       {color4}
highlight_color_b       {color3}
highlight_color_c       {color5}
highlight_color_d       {color6}
highlight_color_e       {color7}
highlight_color_f       {color8}
highlight_color_g       {color1}

custom_background_color {color0}
custom_text_color       {color9}

ui_text_color           {color9}
ui_background_color     {color0}
ui_selected_text_color  {color9}
ui_selected_background_color {color10}

