[Desktop Entry]
Name=Emacs (Vanilla)
Exec=emacs -Q %F
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=Emacs
Actions=new-window;new-instance;
